.formGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;    
}
.input {
  width: 100%;
 
}
.inValid{
  border: 1px solid red;
  background-color: salmon;
  border-radius: 3px;
}