$white:#ffffff; //pure white for  text
$black:#000000; //pure black for text
$greyBackground:#ececec; // for light grey background
$blue:#062a78; // for blue heading, buttons
$textGrey:#818181; //used for text
$orangebtn:#ff8603;
$inputBorderWhiteBack:#eaeaea;
$selectBorder: #eaeaea;//border 
$selectText:#3d3d3d;
$partPrice:#dbdbdb; //part price
$borders:#cfcfcf;// main borders

$font-size-11px: 1.1rem;
$font-size-13px: 1.3rem;
$font-size-14px: 1.4rem;
$font-size-17px: 1.7rem;
$font-size-18px: 1.8rem;
$font-size-24px: 2.4rem;
$font-size-28px: 2.8rem;


$font-Weight-light: 300;
$font-Weight-regular: 400;
$font-Weight-medium: 500;
$font-Weight-semiBold: 600;
$font-Weight-bold: 700;
$font-Weight-extraBold: 800;

$monserat:'Montserrat',
sans-serif;