body {
    background-color: grey;
}

.portal {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    width: 65%;
    margin: auto;
    margin-top: 5rem;
}

.subDiv{
    flex: 1;
    display: inline-block;
    // width: 20%;
    margin: 0 1rem
}

.listStyle{
    list-style: none;
}

.formGroup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
}

.input {
    width: 100%;
}
.CodeInputError {
    border: 1px solid red;
}