.portal {
    display: flex;
    align-items: flex-start;
    justify-items: center;
    width: 65%;
    margin: auto;
    margin-top: 5rem;
}

.SubDiv{
    flex: 1;
    display: inline-block;
    width: 20%;
}

.listStyle{
    list-style: none;
}

.formGroup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
}

.input {
    width: 100%;
}