.DivMain {
    display: flex;

}

.SubDiv{
    flex: 1;
    display: inline-block;
    width: 20%;
}

.ListStyle{
    list-style: none;
}

.formGroup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
}

.input {
    width: 100%;
}