@import '../../mainSass/variables.module.scss';

.main {
  margin-top: 5rem;
  .header {

    text-align: left;

    .addImg {
      font-family: $monserat;
      font-size: 1.3rem;
      text-align: left;
      padding: 1rem 25rem 1rem 2rem;

      margin-left: 1.9rem;
      border: 0.2rem solid $borders;
      border-radius: 0.7rem;
      color: $textGrey;
      position: relative;

      img {

        position: absolute;
        justify-items: flex-start;
        top: 50%;
        transform: translateY(-50%);
        height: 3rem;
        right: 2rem;

      }


    }
  }

  .gallery {
    padding: 0 1.8rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 5vw);
    column-gap: 0.1rem;
    row-gap: 1rem;

  }

  .image {

    width: 95%;
    height: 100%;
    object-fit: cover;
    border: 0.2rem solid $borders;
    border-radius: 0.7rem;
  }
}

// .header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   input {
//     padding-top: 1rem;
//   }