@import "../../../mainSass/variables.module.scss";

input{
  align-items: flex-start;
  border:0.2rem solid $borders;
  border-radius: 0.7rem;
  width: 28.4rem;
  height: 3.6rem;
  font-size: $font-size-13px;
  color: black;
  margin: 0 ;
  font-family: $monserat;
  font-weight: 600;
}

